table {
    width: 100%;
    margin-top: 16px;
    table-layout: fixed;
}

th {
    text-align: left;
    width: 25%;
}

td {
    vertical-align: top;
    padding: 4px;
}

.resume ul {
    margin: 0;
    padding: 0;
}

.resume li {
    list-style-type: square;
    margin: 4px 0 4px 16px;
    padding: 0;
}
