#app {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    display: grid;
    grid-template-columns: 25% auto;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #fefefe;
    color: #222;
    font-family: sans-serif;
}
