#app {
    display: grid;
    grid-template-columns: 25% auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#app>div {
    max-width: 1024px;
    width: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /* THEME LIGHT */
    background-color: #E1F2FE;
    /* THEME DARK */
    color: #0F0A0A;
    font-family: sans-serif;
}

a {
    color: #2292A4;
}

a:hover {
    cursor: pointer;
    color: #2292A4;
}

svg {
    height: 16px;
    width: 16px;
    margin: 0 4px;
    fill: #555;
}

svg * {
    fill: #555;
}
