#app {
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: grid;
    grid-template-columns: 25% auto;
}

#app>div {
    max-width: 1024px;
    width: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /* THEME LIGHT */
    background-color: #E1F2FE;
    /* THEME DARK */
    color: #0F0A0A;
    font-family: sans-serif;
}

a {
    color: #2292A4;
}

a:hover {
    cursor: pointer;
    color: #2292A4;
}
