h1.page-header {
   margin: 0 16px;
}

@media(min-width: 1024px) {
    h1.page-header {
        position: sticky;
        top: 0;
        margin: 0;
        padding: 8px 16px;
        /* THEME PRIMARY */
        background-color: #2292A4;
        color: white;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, .2);
    }
}

h1.page-header> :first-child {
    background-color: #E1F2FE;
    width: 100%;
    height: 32px;
    position: absolute;
    left: 0;
    bottom: 100%;
}

h1.page-header+div {
    max-width: 1024px;
    margin-left: 8px;
    padding: 8px;
    box-sizing: border-box;
}

h2.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 4px;
    margin: 16px 0 0 0;
    border-bottom: 2px solid #2292A4;
}

.section-subheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #2292A4;
}
