#app {
    display: grid;
    grid-template-columns: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@media(min-width: 1024px) {
    #app {
        grid-template-columns: 25% auto;
    }
}

#app>div {
    max-width: 1024px;
    width: 100%;
}
