
h1 {
    position: sticky;
    top: 0;
    margin: 0;
    padding: 8px;
    background-color: #efefef;
}

h2 {
    margin: 32px 0 0 0;
}

main {
    max-height: 100%;
    overflow-y: auto;
    padding-top: 32px;
}
main > :first-child {
    background-color: #fefefe;
    width: 100%;
    height: 32px;
    position: absolute;
    top: 0;
}
