nav {
    position: sticky;
    top: 0;
    padding: 32px 24px;
    max-width: 256px;
    margin-left: auto;
}

nav section:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav section:first-child img {
    width: 100%;
    max-height: 128px;
    max-width: 128px;
    border-radius: 50%;
    margin: 0 0 16px 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
}

nav section:first-child label {
    font-weight: bold;
    font-size: 120%;
}

nav section:first-child .caption {
    font-style: italic;
    color: #555;
    margin: 8px 0;
}

nav section:first-child .icon-label {
    margin-bottom: 16px;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

nav ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li a {
    padding: 8px;
    border-radius: 8px;
    margin: 8px 0;
    background-color: rgba(0, 0, 0, .05);
    width: 100%;
    display: block;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #555;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, .1);
}

nav ul li a:hover svg, nav ul li a:hover svg * {
    fill: #2292A4;
}

nav a svg {
    height: 24px;
    width: 24px;
    margin-right: 8px;
}

nav a svg, nav a svg * {
    fill: #555;
    color: #555;
}

nav a.active {
    background-color: 2292A4;
}

nav a.active:not(:hover) {
    color: white;
}

nav a.active svg, nav a.active svg * {
    fill: white;
}

nav ul li a {
    font-weight: bold;
    text-decoration: none;
}

.list-header {
    width: 100%;
    font-weight: bold;
    font-size: 80%;
    color: #555;
    margin-top: 32px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-header svg, .list-header svg * {
    fill: #555;
}
