svg {
    height: 24px;
    width: 24px;
}

nav {
    position: sticky;
    top: 0;
    margin-right: 16px;
}

nav section:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav section:first-child img {
    height: 128px;
    width: 128px;
    border-radius: 50%;
    margin: 32px 0 16px 0;
}

nav section:first-child label {
    font-weight: bold;
    font-size: 120%;
}

nav section:first-child .caption {
    font-style: italic;
    color: #555;
    margin: 8px 0;
}

nav section:first-child .location-wrapper {
    color: #555;
    margin-bottom: 16px;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

nav ul li {
    margin: 0;
    padding: 16px;
    list-style-type: none;

    color: #555;
    border-bottom: 1px solid #eee;
}

nav ul li.active {
    color: orange;
}

nav ul li:hover {
    cursor: pointer;
    color: orange;
}

nav ul li a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

nav ul.links li {
   
}

.list-header {
    font-weight: bold;
    font-size: 80%;
    color: #555;
    margin-top: 32px;
    padding: 8px;
    border-bottom: 2px solid #eee;
}

h1 {
    margin: 32px 0 0 0;
}

main {
    max-height: 100%;
    overflow-y: auto;
}
